.account {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.account h1 {
  font-size: 2rem;
  color: var(--color-black-2);
}

.account h1 span {
  color: var(--color-grey-2);
  font-size: 1.4rem;
}

.account p {
  color: var(--color-grey-2);
  font-size: 1.6rem;
}

.account h2 {
  font-size: 2rem;
}
