.favAccount {
  padding: 1rem;
}

.images {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  padding: 0.5rem;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-light-blue);
  border-radius: 5px;
}

.favAccount img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
